._s2h{text-align:right}
.sp_V53xxlprDHX_3x{background-image:url(/rsrc.php/v3/yV/r/u11Nq6dpgDq.png);background-size:19px 36px;background-repeat:no-repeat;display:inline-block;height:17px;width:18px}.sp_V53xxlprDHX_3x.sx_4d3311{background-position:0 0}.sp_V53xxlprDHX_3x.sx_6b3878{background-position:0 -18px}

#bootloader_Wod83{height:42px;}.bootloader_Wod83{display:block!important;}